
html,body {
    height: 100%;
}

body {
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    align-items: center;
    background: #23074d;/* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #cc5333, #23074d);/* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #cc5333, #23074d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.form-signin {
    background: #dde1e7;
    border-radius: 35px;
    box-shadow: -3px -3px 7px #ffffff73,
                2px 2px 7px #000000d0;
    margin: 0 auto;
    max-width: 330px;
    padding: 35px;
    padding-bottom: 0px;
    width: 100%;
}

.form-signup {
    background: #dde1e7;
    border-radius: 35px;
    box-shadow: -5px -5px 10px #ffffff73,
                5px 5px 10px rgba(0,0,0,0.8);
    margin: 0 auto;
    max-width: 800px;
    padding: 60px;
    padding-top: 35px;
    padding-bottom: 0px;
    width: 100%;
}

.form-signin .checkbox{
    font-weight: 400;
}

.form-control {
    background: #dde1e7;
    border-radius: 25px;
    box-sizing: border-box;
    box-shadow: inset 2px 2px 5px #BABECC,
                inset -5px -5px 10px #ffffff73;
    color: #595959;
    font-size: 16px;
    font-weight: 500;
    height: auto;
    margin-bottom: 15px;
    padding: 10px;
    position: relative;
    letter-spacing: 1px;
}

.form-control:focus {
    background-color: #dde1e7!important;
    border-color: #dde1e7;
    box-shadow: inset 1px 1px 2px #BABECC,
                inset -1px -1px 2px #ffffff73!important;
    color: var(--blue);
    outline: none!important;
    z-index: 2;
}
.font-size{
    font-size: 12px;
}

/*Checkbox*/
.rem {
    background: linear-gradient(135deg, rgba(247, 251, 255, 0.7) 20%, rgba(0, 0, 0, 0.125) 100%);
    border: 2px solid #dde1e7;
    border-radius: 16px;
    box-shadow: 3px 3px 6px 2px rgba(0, 0, 0, 0.1), 
                -3px -3px 5px 1px rgba(247, 251, 255, 0.5);
    cursor: pointer;
    height: 15px;
    margin: 0;
    margin-right: 5px;
    width: 15px;
}

input[type=checkbox]{
    display: none;
}
input:checked + .rem {
    background: linear-gradient(-45deg, #23074dc2 20%, #cc5333a4 100%);
}
/*Checkbox END*/

input[type=password]{
    -webkit-text-security: square!important;
    letter-spacing: 2px;
}

input:disabled{
    background: #c5c7ce!important;
    box-shadow: inset 2px 2px 5px #b9bbc2,
        inset -5px -5px 10px #d1d3da;
}

.button{
    border: none;
    border-radius: 25px;
    cursor: pointer;
    color: #dde1e7;
    font-size: 18px;
    font-weight: 600;
    height: 50px;
    line-height: 50px;
    margin-bottom: 10px;
    outline: none;
    width: 100%;
}

.button.Student{
    background: linear-gradient(145deg, #da5937, #b84b2e);
    box-shadow: 8px 8px 22px #BABECC73,
                -8px -8px 22px #ffffff73;
}
.button.Student:focus{
    border: none;
    outline: none;
    background: #cc5333;
    box-shadow: inset 8px 8px 22px #ad472b,
                inset -8px -8px 22px #eb5f3b;
}

.button.Admin{
    background: linear-gradient(145deg, #250752, #200645);
    box-shadow: 8px 8px 22px #BABECC73,
                -8px -8px 22px #ffffff73;
}
.button.Admin:focus{
    border: none;
    outline: none;
    background: #23074d;
    box-shadow: inset 8px 8px 22px #1e0641,
                inset -8px -8px 22px #280859;
}

.line{
    border-right: 2px solid var(--blue);
    height: 100%;
    width: 50%;
}

.alert{
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #dde1e7!important;
    border-color: #dde1e7!important;
    box-shadow: -3px -3px 10px #ffffff73,
    2px 2px 7px #000000d0!important;
    font-size: 12px;
    color: #cb0e40!important;
}
.alert .close{
    padding: 9px 20px;
}
.alert .close:focus{
    outline: none!important;
}

.img{
    border-radius: 50%;
    background: linear-gradient(145deg, #d3d5dc, #b1b3b9);
    box-shadow: 5px 5px 17px #616265,
                -5px -5px 17px #ffffff;
}

@media screen and (max-width: 867px) {
    .form-signup {
        width: 700px;
    }
}

@media screen and (max-width: 767px) {
    .form-signup {
        width: 600px;
    }
}

@media screen and (max-width: 667px) {
    body{
        padding-top: 40px;
        padding-bottom: 40px;
        height: fit-content;
    }
    .form-signup {
        width: 500px;
    }
}

@media screen and (max-width: 574px) {
    body{
        padding-top: 40px;
        padding-bottom: 40px;
        height: fit-content;
    }
    .form-signup {
        width: 330px;
        padding: 35px;
        padding-bottom: 0px;
        margin: 0;
        margin-bottom: 40px;
    }
    .line{
        border: none;
        height: 10px;
        width: 330px;
    }
    hr{
        height: 1px;
        background-color: var(--blue);
        margin: 20px 0;
    }
    .alert{
        position: fixed;
        width: 415px;
    }
}
@media (hover: hover) and (pointer: fine) {
    .rem:hover{
        background: linear-gradient(-45deg, #cc533382 20%, #23074da2 100%)
    }
}