<!DOCTYPE html>
<html lang="en">
  <head>
    <title>LMS | SignUp</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{url_for('static',filename='img/IconWhite.png')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/fonts/font.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/login.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
    <style>
    </style>
  </head>
  <body class="text-center">
    <div class="container form-signup Montserrat" >
      <div class="row">
        <div class="col-md-5 Data" style="margin: auto 0;">
          <img class="mb-4 rounded-circle img" src="{{url_for('static',filename='img/userPhotoBlack.png')}}" alt="User's Photo" title="UserPhoto" width="140" height="140">
          <h3 class="mb-4 font-weight-bold" >Details</h3>
          <label for="Name" class="sr-only">Name</label>
          <input type="email" class="form-control" title="Name" placeholder="Name" required disabled>
          <label for="MobileNum" class="sr-only">Mobile Number</label>
          <input type="password" class="form-control" title="Mobile Number" placeholder="Mobile Number" required disabled>
          <label for="Address" class="sr-only">Address</label>
          <input type="password" class="form-control" title="Address" placeholder="Address" required disabled>
        </div>
        <div class="col-sm-2">
          <hr class="d-sm-none">
          <div class="line"></div>
        </div>
        <form class="col-md-5" name="SignUp" methods="POST" onsubmit="return validateSignup()">
          <img class="mb-4 img" src="{{url_for('static',filename='img/IconBlack.png')}}" alt="LMS icon" title="Library Management System" width="72" height="72">
          <h3 class="mb-4 font-weight-bold" >Sign Up</h3>
          <label for="inputEmail" class="sr-only">Email address</label>
          <input type="email" id="inputEmail" class="form-control" name="EmailId" title="Email Address" placeholder="Email address" value="" required autofocus="">
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" id="inputPassword" class="form-control" name="Password" title="Password" placeholder="Password" value="" required>
          <label for="inputConfirmPassword" class="sr-only">Confirm Password</label>
          <input type="password" id="inputConfirmPassword" class="form-control" name="CPassword" title="Confirm Password" placeholder="Confirm Password" value="" required>
          <input type="hidden" name="dataInServer" value="false">
          <button class="button" type="submit">Sign up</button>
          <p class="font-size mt-3">Already a Member, <a href="/signin">Signin here</a></p>
        </form>
        <div class="col-sm-1" style="display: none;" ></div>
      </div>
      <p class="mt-2 mb-3 text-muted" id="demo">© 2020-2021</p>
      <error></error>
    </div>
    
    <script src="{{url_for('static',filename='js/login.js')}}" ></script>
  </body>
</html>